<main class="centered-content flex-col flex-center-align-items flex-justify-center height-full">
	<summary class="title card width-full margin-0 padding-dot2">Register</summary>

	<app-error-bar class="width-full margin-top-dot4"></app-error-bar>

	<form class="width-full card padding-dot6" [formGroup]="registerUserFormGroup" (ngSubmit)="onSubmit()">
		<section class="input-selection width-full">
			<input type="text" placeholder="First Name" class="fancy-input width-full border-faded-slim border-bottom-only" formControlName="firstName" required>
			<label class="fancy-input-label width-full">First Name</label>
			<div class="input-errors">
				<label *ngIf="registerUserFormGroup.get('firstName')?.errors?.required" class="error">*Required</label>
				<label *ngIf="registerUserFormGroup.get('firstName')?.errors?.minlength" class="error">*Minimum 3 characters</label>
			</div>
		</section>
		<section class="input-selection">
			<input type="text" placeholder="Last Name" class="fancy-input width-full border-faded-slim border-bottom-only" formControlName="lastName" required>
			<label class="fancy-input-label width-full">Last Name</label>
			<div class="input-errors">
				<label *ngIf="registerUserFormGroup.get('lastName')?.errors?.required" class="error">*Required</label>
				<label *ngIf="registerUserFormGroup.get('lastName')?.errors?.minlength" class="error">*Minimum 3 characters</label>
			</div>
		</section>
		<section class="input-selection">
			<input type="text" placeholder="Username" class="fancy-input width-full border-faded-slim border-bottom-only" formControlName="username" required>
			<label class="fancy-input-label width-full">Username</label>
			<div class="input-errors">
				<label *ngIf="registerUserFormGroup.get('username')?.errors?.required" class="error">*Required</label>
				<label *ngIf="registerUserFormGroup.get('username')?.errors?.minlength" class="error">*Minimum 3 characters</label>
			</div>
		</section>
		<section class="input-selection">
			<input type="text" placeholder="Email" class="fancy-input width-full border-faded-slim border-bottom-only" formControlName="email" required>
			<label class="fancy-input-label width-full">Email</label>
			<div class="input-errors">
				<label *ngIf="registerUserFormGroup.get('email')?.errors?.required" class="error">*Required</label>
				<label *ngIf="registerUserFormGroup.get('email')?.errors?.email" class="error">*Invalid email</label>
			</div>
		</section>
		<section class="input-selection">
			<input type="password" placeholder="Password" class="fancy-input width-full border-faded-slim border-bottom-only" formControlName="password" required>
			<label class="fancy-input-label width-full">Password</label>
			<div class="input-errors">
				<label *ngIf="registerUserFormGroup.get('password')?.errors?.required" class="error">*Required</label>
				<label *ngIf="registerUserFormGroup.get('password')?.errors?.minlength" class="error">*Minimum 3 characters</label>
				<label *ngIf="registerUserFormGroup.get('password')?.errors?.pattern" class="error">*At least 1 number</label>
			</div>
		</section>


		<button class="border-faded-slim padding-dot3 lighter-hover click-effect border-radius-dot3 width-full" type="submit">Submit</button>
	</form>
	<button class="fg-focus border-faded-slim padding-dot3 lighter-hover click-effect border-radius-dot3 width-full margin-top-dot4" (click)="onRedirectLogin()">
		Already have an account? Login here
	</button>
</main>
