<nav id="navbar">
	<div id="nav-contents" class="centered-content flex-row padding-smaller flex-center-align-items">
		<div class="flexible" *ngIf="!loggedIn">
			<!-- This element serves as a spacer -->
		</div>
		<div class="nav-item border-radius-small flex-row flex-center-align-items light-hover hover-half-opacity click-effect" (click)="goToProfile()" *ngIf="loggedIn">
			<div id="nav-profile-picture" class="flex-col">
				<img class="round-image" [src]="user.profilePictureURL">
			</div>
			<div id="nav-username" class="font-size-dot9 flex-col">
				<div class="padding-small">
					@{{ user.userName }}
				</div>
			</div>
		</div>
		<div class="nav-item flex-col border-radius-small light-hover hover-half-opacity click-effect" (click)="goToFeed()">
			<img src="/assets/icons/tabler-icon-home.svg">
		</div>
		<div class="nav-item flex-col border-radius-small light-hover hover-half-opacity click-effect" style="display: none">
			<!-- Trending functionality isn't implemented yet! -->
			<img src="/assets/icons/tabler-icon-trending-up.svg">
		</div>
		<div class="nav-item flex-col border-radius-small light-hover hover-half-opacity click-effect" style="display: none">
			<!-- Chat functionality isn't implemented yet! -->
			<img src="/assets/icons/tabler-icon-message-circle.svg">
		</div>
		<div class="nav-item flex-col border-radius-small light-hover hover-half-opacity click-effect" style="display: none">
			<!-- Search functionality isn't implemented yet! -->
			<img src="/assets/icons/tabler-icon-search.svg">
		</div>
		<div class="flexible">
			<!-- This element serves as a spacer -->
		</div>
		<div class="nav-item flex-col border-radius-small light-hover hover-half-opacity click-effect" (click)="goToSettings()" *ngIf="loggedIn">
			<img src="/assets/icons/tabler-icon-settings.svg">
		</div>
		<div class="nav-item flex-col border-radius-small light-hover hover-half-opacity click-effect" (click)="logout()" *ngIf="loggedIn">
			<img src="/assets/icons/tabler-icon-logout.svg">
		</div>
		<div class="nav-item flex-col border-radius-small light-hover hover-half-opacity click-effect" (click)="goToLogin()" *ngIf="!loggedIn">
			<img src="/assets/icons/tabler-icon-login.svg">
		</div>
		<div class="flexible" *ngIf="!loggedIn">
			<!-- This element serves as a spacer -->
		</div>
	</div>
</nav>
