#error-bar {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--failure);
  color: white;
  padding: .2em;
  text-align: center;
  word-wrap: break-word;
  white-space: pre-wrap;
}

#error-bar:empty {
  display: none;
}
