<app-loading *ngIf="!loaded"></app-loading>

<section class="card flex-row" *ngIf="loaded">
	<aside class="left-pane">
		<img class="author-picture round-image hover-half-opacity" [src]="user.profilePictureURL" (click)="goToAuthorProfile()">
	</aside>
	<main class="content flexible">
		<summary class="font-size-dot8 text-vertical-middle hover-half-opacity" (click)="goToAuthorProfile()">
			<span>
				{{ user.firstName }} {{ user.lastName }}
			</span>
			<span class="fg-color-faded">
				@{{ user.userName }}
			</span>
		</summary>
		<article class="message margin-top-bot-small">
			{{ comment.message }}
		</article>
		<section class="comment-details flex-row flex-justify-end font-size-dot7 faded-slim-border border-bottom-only">
			<time class="flex-row flex-center-align-items">
				<img class="img-height-font-size" src="/assets/icons/tabler-icon-calendar-time.svg">&nbsp;
				<span>
					{{ timeCreated }}
				</span>
			</time>
		</section>
		<section class="flex-row justify-children-center flex-center-align-children">
			<button class="flexible padding-small lighter-hover click-effect border-radius-smaller">
				<img src="/assets/icons/tabler-icon-link.svg">
				&nbsp;Share
			</button>
		</section>
	</main>
</section>
