.left-pane {
  box-sizing: border-box;
}

/* Author */

.author-picture {
  width: 2.2em;
  height: 2.2em;
}

/* Content */

.content {
  padding: 0 var(--card-padding);
}

.message {
  word-break: break-word;
}

.comment-details {
  margin-bottom: calc(var(--card-padding) / 1.5);
  padding: 0.2em 0;
}

.comment-details > * {
  margin-left: 1.1em;
}

