<app-loading *ngIf="!loaded"></app-loading>

<section class="comment rounded-border" *ngIf="loaded">
	<summary class="author" (click)="goToAuthorProfile()">
		<img class="round-image" [src]="user.profilePictureURL">
		<div class="author-info">
			<div class="name">
				{{ user.firstName }} {{ user.lastName }}
			</div>
			<div class="handle">
				@{{ user.userName }}
			</div>
		</div>
	</summary>
	<article class="message" (click)="goToCommentPage()">
		{{ comment.message }}
	</article>
	<time class="timestamp" (click)="goToCommentPage()">
		{{ timeCreated }}
	</time>
</section>
