<app-navbar></app-navbar>

<app-loading *ngIf="!dataArrived"></app-loading>

<main class="scroll-standalone under-navbar centered-content flex-col">
	<section class="card full-width" *ngIf="this.isAdminUser">
		<button class="full-width faded-slim-border padding-smaller lighter-hover click-effect border-radius-smaller" (click)="goToAdminPanel()">
			Go to admin panel
		</button>
	</section>
	<form class="flex-row card full-width font-size-dot9 margin-top-bot-very-big" [formGroup]="updateProfilePictureFormGroup" (ngSubmit)="updateProfilePicture()">
		<img id="profile-picture" class="round-image" [src]="user.profilePictureURL">
		<section class="flexible flex-col flex-center-align-items flex-justify-center side-padding-font">
			<input class="full-width faded-slim-border padding-smaller lighter-hover click-effect border-radius-smaller" type="file" accept="image/*" formControlName="fileUpload" (change)="onFileUpload($event)">
			<button class="full-width faded-slim-border padding-smaller lighter-hover click-effect border-radius-smaller margin-top-normal" type="submit" *ngIf="newProfilePicture.size > 0">
				Update profile picture
			</button>
		</section>
	</form>
	<form class="flex-col card full-width padding-big" [formGroup]="updateUserFormGroup" (ngSubmit)="onSubmit()">
		<section class="flex-col">
			<div class="flex-row">
				<label class="flexible focus-fg-color">First Name</label>

				<label *ngIf="updateUserFormGroup.get('firstName')?.errors?.required" class="error">*Required</label>
				<label *ngIf="updateUserFormGroup.get('firstName')?.errors?.minlength" class="error">*Minimum 3 characters</label>
			</div>
			<input type="text" class="fancy-input faded-slim-border border-bottom-only" formControlName="firstName" required>
		</section>
		<section class="flex-col">
			<div class="flex-row">
				<label class="flexible focus-fg-color">Last Name</label>

				<label *ngIf="updateUserFormGroup.get('lastName')?.errors?.required" class="error">*Required</label>
				<label *ngIf="updateUserFormGroup.get('lastName')?.errors?.minlength" class="error">*Minimum 3 characters</label>
			</div>
			<input type="text" class="fancy-input faded-slim-border border-bottom-only" formControlName="lastName" required>
		</section>
		<section class="flex-col">
			<div class="flex-row">
				<label class="flexible focus-fg-color">Username</label>

				<label *ngIf="updateUserFormGroup.get('username')?.errors?.required" class="error">*Required</label>
				<label *ngIf="updateUserFormGroup.get('username')?.errors?.minlength" class="error">*Minimum 3 characters</label>
			</div>
			<input type="text" class="fancy-input faded-slim-border border-bottom-only" formControlName="username" required>
		</section>
		<section class="flex-col">
			<div class="flex-row">
				<label class="flexible focus-fg-color">Email</label>

				<label *ngIf="updateUserFormGroup.get('email')?.errors?.required" class="error">*Required</label>
				<label *ngIf="updateUserFormGroup.get('email')?.errors?.email" class="error">*Invalid email</label>
			</div>
			<input type="text" class="fancy-input faded-slim-border border-bottom-only" formControlName="email" required>
		</section>
		<section class="flex-col">
			<div class="flex-row">
				<label class="flexible focus-fg-color">Password</label>

				<label *ngIf="updateUserFormGroup.get('password')?.errors?.required" class="error">*Required</label>
				<label *ngIf="updateUserFormGroup.get('password')?.errors?.minlength" class="error">*Minimum 3 characters</label>
				<label *ngIf="updateUserFormGroup.get('password')?.errors?.pattern" class="error">*At least 1 number</label>
			</div>
			<input type="password" class="fancy-input faded-slim-border border-bottom-only" formControlName="password" required>
		</section>
		<button type="button" class="focus-fg-color full-width faded-slim-border padding-smaller lighter-hover click-effect margin-top-normal" (click)="toggleLanguages()">
			▼ Edit Languages ▼
		</button>
		<section *ngIf="showLanguages">
			<div class="margin-top-bigger">
				<label class="error">
					Type in your desired languages, separated by a space
				</label>
				<input class="fancy-input full-width faded-slim-border border-bottom-only" type="text" placeholder="You have no selected languages!" formControlName="languageInput" required>
			</div>
			<div class="none-message" *ngIf="availableLanguages.length === 0">
				No languages available!
			</div>
			<div *ngIf="availableLanguages.length > 0">
				Available languages:
			</div>
			<div class="flex-row margin-top-normal" *ngFor="let lang of availableLanguages">
				<div class="sec-info border-radius-normal padding-small">
					{{ lang.name }}
				</div>
			</div>
		</section>
		<button type="button" class="focus-fg-color full-width faded-slim-border padding-smaller lighter-hover click-effect margin-top-normal" (click)="toggleTechnologies()">
			▼ Edit Technologies ▼
		</button>
		<section *ngIf="showTechnologies">
			<div class="margin-top-bigger">
				<label class="error">
					Type in your desired technologies, separated by a space
				</label>
				<input class="fancy-input full-width faded-slim-border border-bottom-only" type="text" placeholder="You have no selected technologies!" formControlName="technologyInput" required>
			</div>
			<div class="none-message" *ngIf="availableTechnologies.length === 0">
				No technologies available!
			</div>
			<div *ngIf="availableTechnologies.length > 0">
				Available technologies:
			</div>
			<div class="flex-row margin-top-normal" *ngFor="let tech of availableTechnologies">
				<div class="sec-info border-radius-normal padding-small">
					{{ tech.name }}
				</div>
			</div>
		</section>
		<section class="margin-top-bot-smaller">
			<app-success-bar></app-success-bar>
			<app-error-bar></app-error-bar>
		</section>
		<button class="full-width faded-slim-border padding-smaller lighter-hover click-effect border-radius-smaller" type="submit">
			Update profile
		</button>
	</form>
	<section class="card full-width">
		<div class="margin-bot-bigger text-centered error-fg-color" *ngIf="deleteAccountConfirm">
			Are you sure you want to delete your account?<br>This is permanent!
		</div>
		<button class="full-width faded-slim-border padding-smaller lighter-hover click-effect border-radius-smaller error-fg-color" (click)="deleteAccount()">
			Delete account
		</button>
	</section>
	</main>

