#create-post {
  width: 100%;
  margin: 1em 0;
}

#new-post-message {
  min-height: 1.5em;
  resize: vertical;
}

#attachments-btns {
  padding: 0.5em 0;
}

#attachments-btns img, .file-button > input {
  height: 1.4em;
  width: 1.4em;
}

#new-post-attachments {
  margin-bottom: 0.5em;
}

.file-button {
  position: relative;
}

.file-button > img {
  position: absolute;
  pointer-events: none;
}

.file-button > input {
  font-size: inherit;
  color: transparent;
}
