section:empty {
  display: none;
}

#create-post {
  width: 100%;
  margin-top: 1em;
}

#new-post-message {
  min-height: 1.5em;
  resize: vertical;
}

#attachments-btns img, .file-button > input {
  height: 1.4em;
  width: 1.4em;
}

.file-button {
  position: relative;
}

.file-button > img {
  position: absolute;
  pointer-events: none;
}

.file-button > input {
  font-size: inherit;
  color: transparent;
}
