<main class="centered-content flex-col flex-center-align-items flex-justify-center full-height">
	<div class="card full-width padding-big">
		<summary class="title">
			Page not found!
		</summary>
		<hr class="card-hr">
		<nav class="flex-row flexible-children padding-small">
			<button class="flex-row flex-justify-center flex-center-align-items faded-slim-border padding-smaller lighter-hover click-effect border-radius-smaller margin-right-small" (click)="backToFeed()">
				<img src="/assets/icons/tabler-icon-home.svg">
				&nbsp;Back to feed
			</button>
			<button class="flex-row flex-justify-center flex-center-align-items faded-slim-border padding-smaller lighter-hover click-effect border-radius-smaller" (click)="backToLogin()">
				<img src="/assets/icons/tabler-icon-login.svg">
				&nbsp;Back to login
			</button>
		</nav>
	</div>
</main>
