<app-navbar></app-navbar>

<app-loading *ngIf="!dataArrived"></app-loading>

<main class="centered-content scroll-standalone under-navbar flex-col" *ngIf="dataArrived">
	<app-post [paramId]="postId.toString()" [index]="0"></app-post>
	<form class="card flex-col full-width no-margin-top" [formGroup]="addCommentFormGroup" (ngSubmit)="addComment()">
		<textarea rows="1" placeholder="Add a new comment" class="textarea-new-msg faded-slim-border border-bottom-only padding-small margin-bot-bigger" formControlName="newComment"></textarea>
		<button class="faded-slim-border padding-small lighter-hover click-effect border-radius-smaller" type="submit">
			Add Comment
		</button>
	</form>
	<hr class="card-hr">
	<section>
		<div class="text-centered" *ngIf="post?.comments?.length === 0">
			Nobody has comented on this post yet!<br>
			Try refreshing the page!
		</div>
		<div class="comment" *ngFor="let comm of post?.comments">
			<app-comment [paramId]="comm.id.toString()"></app-comment>
		</div>
	</section>
</main>
