<main class="centered-content flex-col flex-center-align-items flex-justify-center height-full">
	<summary class="title card width-full no-margin padding-dot2">Login</summary>

	<app-error-bar class="width-full margin-top-normal"></app-error-bar>

	<form class="width-full card padding-dot6" [formGroup]="loginUserFormGroup" (ngSubmit)="onSubmit()">
		<section class="input-selection width-full">
			<input type="text" placeholder="Username" class="fancy-input width-full border-faded-slim border-bottom-only" formControlName="username" required>
			<label class="fancy-input-label width-full">Username</label>
			<div class="input-errors">
				<label *ngIf="loginUserFormGroup.get('username')?.errors?.required" class="error">*Required</label>
			</div>
		</section>
		<section class="input-selection">
			<input type="password" placeholder="Password" class="fancy-input width-full border-faded-slim border-bottom-only" formControlName="password" required>
			<label class="fancy-input-label width-full">Password</label>
			<div class="input-errors">
				<label *ngIf="loginUserFormGroup.get('password')?.errors?.required" class="error">*Required</label>
			</div>
		</section>

		<button class="border-faded-slim padding-dot3 lighter-hover click-effect border-radius-dot3 width-full" type="submit">Submit</button>
	</form>
	<button class="fg-focus border-faded-slim padding-dot3 lighter-hover click-effect border-radius-dot3 width-full margin-top-normal" (click)="onRedirectRegister()">New to DevHive? Register instead</button>
</main>
