<app-navbar></app-navbar>

<app-loading *ngIf="!dataArrived"></app-loading>

<main class="centered-content scroll-standalone under-navbar flex-col" *ngIf="dataArrived">
	<app-post [paramId]="postId.toString()"></app-post>
	<hr class="card-hr">
	<section class="card flex-col width-full margin-0-top">
		<button class="fg-focus border-faded-slim padding-dot2 lighter-hover click-effect border-radius-dot3" (click)="goToPostPage()">
			Show all comments
		</button>
	</section>
	<div class="text-centered">
		...
	</div>

	<app-comment [paramId]="commentId.toString()"></app-comment>
</main>
