<app-navbar></app-navbar>

<app-loading *ngIf="!dataArrived"></app-loading>

<main class="scroll-standalone under-navbar flex-col centered-content" *ngIf="dataArrived" (scroll)="onScroll($event)">
	<section id="user-info" class="card flex-row full-width flex-justify-center">
		<div>
			<img id="profile-picture" class="round-image" [src]="user.profilePictureURL">
		</div>
		<div class="flexible flex-col flex-center-align-items flex-justify-center">
			<div class="text-centered">
				{{ user.firstName }} {{ user.lastName }}
			</div>
			<div>
				@{{ user.userName }}
			</div>
			<form [formGroup]="updateFrienship" (ngSubmit)="modifyFriend()" *ngIf="!isTheLoggedInUser && isUserLoggedIn">
				<button id="add-friend" type="submit" class="submit-btn">{{ friendOfUser ? 'Unfriend' : 'Add friend' }}</button>
				<br>
				<input id="loggedin-password" type="password" formControlName="password" class="input-field" *ngIf="updatingFriendship" placeholder="Type in password to confirm">
			</form>
		</div>
	</section>
	<section class="card sec-info-card flex-col full-width">
		<div class="sec-info-title faded-slim-border border-bottom-only">
			Languages
		</div>
		<div *ngIf="user.languages.length === 0">
			None
		</div>
		<div class="flex-row" *ngFor="let lang of user.languages">
			<div class="sec-info border-radius-normal padding-small">
				{{ lang.name }}
			</div>
		</div>
	</section>
	<section class="card sec-info-card flex-col full-width">
		<div class="sec-info-title faded-slim-border border-bottom-only">
			Technologies
		</div>
		<div *ngIf="user.technologies.length === 0">
			None
		</div>
		<div  class="flex-row" *ngFor="let tech of user.technologies">
			<div class="sec-info border-radius-normal padding-small">
				{{ tech.name }}
			</div>
		</div>
	</section>
	<hr class="card-hr">
	<section>
		<div *ngIf="userPosts.length === 0">
			{{ user.firstName }} {{ user.lastName }} hasn't posted anything yet!
		</div>
		<div *ngFor="let userPost of userPosts; let i = index">
			<app-post [paramId]="userPost.postId.toString()" [index]="i"></app-post>
		</div>
	</section>
</main>
