<app-navbar></app-navbar>

<app-loading *ngIf="!dataArrived"></app-loading>

<main class="scroll-standalone under-navbar flex-col centered-content" *ngIf="dataArrived" (scroll)="onScroll($event)">
	<section id="user-info" class="card flex-row width-full flex-justify-center">
		<div>
			<img id="profile-picture" class="round-image" [src]="user.profilePictureURL">
		</div>
		<div class="flexible flex-col flex-center-align-items flex-justify-center side-padding-dot3">
			<div class="text-centered">
				{{ user.firstName }} {{ user.lastName }}
			</div>
			<div>
				@{{ user.userName }}
			</div>
			<button id="add-friend" class="border-faded-slim padding-dot3 lighter-hover click-effect border-radius-dot3 font-size-dot8 margin-top-dot4" (click)="modifyFriend()" *ngIf="!isTheLoggedInUser && isUserLoggedIn">
				{{ friendOfUser ? 'Unfriend' : 'Add friend' }}
			</button>
		</div>
	</section>
	<section class="card sec-info-card flex-col width-full">
		<div class="sec-info-title border-faded-slim border-bottom-only">
			Languages
		</div>
		<div class="none-message" *ngIf="user.languages.length === 0">
			None
		</div>
		<div class="flex-row">
			<div class="sec-info border-radius-dot5r padding-dot2" *ngFor="let lang of user.languages">
				{{ lang.name }}
			</div>
		</div>
	</section>
	<section class="card sec-info-card flex-col width-full">
		<div class="sec-info-title border-faded-slim border-bottom-only">
			Technologies
		</div>
		<div class="none-message" *ngIf="user.technologies.length === 0">
			None
		</div>
		<div  class="flex-row">
			<div class="sec-info border-radius-dot5r padding-dot2" *ngFor="let tech of user.technologies">
				{{ tech.name }}
			</div>
		</div>
	</section>
	<hr class="card-hr">
	<section>
		<div class="text-centered" *ngIf="userPosts.length === 0">
			{{ user.firstName }} {{ user.lastName }} hasn't posted anything yet!
		</div>
		<div *ngFor="let userPost of userPosts">
			<app-post [paramId]="userPost.postId.toString()"></app-post>
		</div>
	</section>
</main>
