<app-loading *ngIf="!loaded"></app-loading>

<section class="card flex-row" *ngIf="loaded">
	<aside class="left-pane">
		<img class="author-picture round-image hover-half-opacity" [src]="user.profilePictureURL"  (click)="goToAuthorProfile()">
	</aside>
	<main class="content flexible">
		<summary class="font-size-dot8 text-vertical-middle hover-half-opacity"  (click)="goToAuthorProfile()">
			<span>
				{{ user.firstName }} {{ user.lastName }}
			</span>
			<span class="fg-color-faded">
				@{{ user.userName }}
			</span>
		</summary>
		<article class="message">
			{{ post.message }}
		</article>
		<section class="flex-row flexible-children">
			<figure *ngFor="let fileURL of post.fileURLs">
				<app-post-attachment [paramURL]="fileURL"></app-post-attachment>
			</figure>
		</section>
		<section class="post-details flex-row flex-justify-end font-size-dot7 faded-slim-border border-bottom-only">
			<time class="flex-row flex-center-align-items">
				<img class="img-height-font-size" src="/assets/icons/tabler-icon-calendar-time.svg">&nbsp;
				<span>
					{{ timeCreated }}
				</span>
			</time>
			<summary class="flex-row flex-center-align-items">
				<img class="img-height-font-size" src="/assets/icons/tabler-icon-message-2.svg">&nbsp;
				<span>
					{{ post.comments.length }}
				</span>
			</summary>
		</section>
		<section class="flex-row flexible-children justify-children-center flex-center-align-children">
			<button class="padding-small lighter-hover click-effect border-radius-smaller"  (click)="goToPostPage()">
				<img src="/assets/icons/tabler-icon-message-2.svg">
				&nbsp;Comment
			</button>
			<button class="padding-small lighter-hover click-effect border-radius-smaller"  (click)="goToPostPage()">
				<img src="/assets/icons/tabler-icon-link.svg">
				&nbsp;Share
			</button>
		</section>
	</main>
	<aside class="flex-col flex-center-align-items">
		<button class="flex-col lighter-hover border-radius-small click-effect" (click)="votePost(true)">
			<img src="/assets/icons/tabler-icon-chevron-up.svg">
		</button>
		<summary>
			{{ votesNumber }}
		</summary>
		<button class="flex-col lighter-hover border-radius-small click-effect" (click)="votePost(false)">
			<img src="/assets/icons/tabler-icon-chevron-down.svg">
		</button>
	</aside>
</section>
