<app-loading *ngIf="!loaded"></app-loading>

<section class="post rounded-border" *ngIf="loaded">
	<section class="content">
		<summary class="author" (click)="goToAuthorProfile()">
			<img class="round-image" [src]="user.profilePictureURL">
			<div class="author-info">
				<div class="name">
					{{ user.firstName }} {{ user.lastName }}
				</div>
				<div class="handle">
					@{{ user.userName }}
				</div>
			</div>
		</summary>
		<article class="message" (click)="goToPostPage()">
			{{ post.message }}
		</article>
		<div class="bottom-post" (click)="goToPostPage()">
			<time class="timestamp">
				{{ timeCreated }}
			</time>
			<div class="separator">
				║
			</div>
			<summary class="comment-count">
				{{ post.comments.length }}
				<img src="assets/images/comment.png">
			</summary>
		</div>
	</section>
	<section class="rating">
		<button class="vote" (click)="upVotePost()">
			ᐃ
		</button>
		<summary class="score">
			{{ votesNumber }}
		</summary>
		<button class="vote">
			ᐁ
		</button>
	</section>
</section>
<aside class="attachments">
	<figure *ngFor="let fileURL of post.fileURLs">
		<app-post-attachment class="no-events" [paramURL]="fileURL"></app-post-attachment>
	</figure>
</aside>
