.left-pane {
  box-sizing: border-box;
}

/* Author */

.author-picture {
  width: 2.2em;
  height: 2.2em;
}

/* Content */

.content {
  padding: 0 var(--card-padding);
}

.message {
  margin: 0.2em 0;
  word-break: break-word;
}

.post-details {
  margin-bottom: calc(var(--card-padding) / 1.5);
  padding: 0.2em 0;
}

.post-details > * {
  margin-left: 1.1em;
}

.rating img {
  height: 1.2em;
  width: 1.2em;
}
