.attachment {
  background-color: #424242;
}

/* Full attachment */

.show-full-attachment {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000AF;
  z-index: 2;
}

.show-full-attachment > * {
  max-height: 100vh;
  max-width: 100vw;
}

.attachment-download {
  max-width: 420px !important;
  text-decoration: none;
  color: inherit;
}
