<figure class="attachment faded-slim-border flexible flex-row flex-no-wrap padding-small hover-half-opacity margin-top-bot-small" (click)="toggleShowFull()">
	<div class="flex-col flex-justify-center margin-right-small" [ngSwitch]="fileType">
		<img *ngSwitchCase="'img'" src="/assets/icons/tabler-icon-photo.svg">
		<img *ngSwitchDefault src="/assets/icons/tabler-icon-file.svg">
	</div>
	<summary class="flex-col flex-justify-center">
		{{ fileName }}
	</summary>
</figure>

<div class="show-full-attachment flex-row flex-justify-center flex-center-align-items" *ngIf="showFull" (click)="toggleShowFull()">
	<img class="attachment-img" *ngIf="isImage" src="{{paramURL}}">
	<a class="attachment-download faded-slim-border padding-normal hover-half-opacity click-effect border-radius-smaller" *ngIf="!isImage" href="{{paramURL}}">
		Download attachment
	</a>
</div>
